
@{
    ViewData["Title"] = "DatLaiMatKhau";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<section>
    <div class="container-fluid" style="margin-bottom: 2%">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4" style="background-color:white; margin-top:2%; height:300px; width:500px">
                <div class="login-form">
                    <form action="#">
                        <h2 class="col-sm-offset-4" style="color:#fe980f">Thiết lập lại mật khẩu</h2>
                        <div class="mb-3">
                            <label class="form-label">Nhập mật khẩu mới</label>
                            <input type="text" class="form-control" id="inputNewpass">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nhập lại mật khẩu mới</label>
                            <input type="text" class="form-control" id="inputNewpassagain">
                        </div>
                        <button type="submit" class="btn btn-default col-sm-offset-5">Thiết lập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

