@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    <section style="margin-top:2%">
        <!--slider-->
        <div class="container" style="background-color:white">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class=""></li>
                            <li data-target="#slider-carousel" data-slide-to="1" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item">
                                <img src="https://didongviet.vn/blog/wp-content/uploads/2019/05/oneplus-7-va-oneplus-7-pro-xuat-hien-anh-quang-cao-didongviet.jpg" class="girl img-responsive" alt="" style="height:82.68%; width:82.68%">
                            </div>
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>PT</span>-STORE</h1>
                                    <h2>100% Điện thoại chính hãng</h2>
                                    <p>Đến với PTStore bạn sẽ có được sản phẩm chất lượng, giá cả hợp lý và dịch vụ bảo hành trọn gói</p>
                                    <button type="button" class="btn btn-default get">Mua ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://image.nghenhinvietnam.vn/Uploaded/CTV/2018_12_13/Huawei_dang_hinh_anh_quang_cao_Nova_4_voi_mau_gradient_do_tim_Minh_Duc_VVYQ.png" alt="">

                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>PT</span>-STORE</h1>
                                    <h2>Miễn phí ship toàn quốc</h2>
                                    <p>Đến với PTStore bạn sẽ có được sản phẩm chất lượng, giá cả hợp lý và dịch vụ bảo hành trọn gói</p>
                                    <button type="button" class="btn btn-default get">Mua ngày</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://image.nghenhinvietnam.vn/Uploaded/CTV/2018_12_13/Huawei_dang_hinh_anh_quang_cao_Nova_4_voi_mau_gradient_do_tim_Minh_Duc_VVYQ.png" alt="">
                                    @*<img src="./index_files/pricing.png" class="pricing" alt="">*@
                                </div>
                            </div>
                        </div>
                        <a href="#" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div id="ThuongHieuPartial"></div>
    @*các sản phẩm gần đây *@
    <div id="DienThoaiGanDayPartial"></div>

    @* cac điện thoại đề xuất *@
    <div id="DienThoaiDeXuatPartial"></div>
</div>
<script>
    function LoadThuongHieu() {
        $.ajax({
            url: "/Home/ThuongHieuPartial",
            contentType: "application/html; charset=utf-8",
            type: "GET",
            cache: !0,
            dataType: "html",
            success: function (t) {
                $("#ThuongHieuPartial").html(t)
            },
            error: function () {
                $("#ThuongHieuPartial").html("Error when loading ThuongHieu")
            }
        })
    }

    function LoadDienThoaiGanDayPartial() {
        $.ajax({
            url: "/Home/DienThoaiGanDayPartial",
            contentType: "application/html; charset=utf-8",
            type: "GET",
            cache: !0,
            dataType: "html",
            success: function (t) {
                $("#DienThoaiGanDayPartial").html(t)
            },
            error: function () {
                $("#DienThoaiGanDayPartial").html("Error when loading DienThoaiGanDayPartial")
            }
        })
    }

    function LoadDienThoaiDeXuatPartial() {
        $.ajax({
            url: "/Home/DienThoaiDeXuatPartial",
            contentType: "application/html; charset=utf-8",
            type: "GET",
            cache: !0,
            dataType: "html",
            success: function (t) {
                $("#DienThoaiDeXuatPartial").html(t)
            },
            error: function () {
                $("#DienThoaiDeXuatPartial").html("Error when loading DienThoaiDeXuat")
            }
        })
    }

    $(document).ready(function () {
        LoadThuongHieu();
        LoadDienThoaiGanDayPartial();
        LoadDienThoaiDeXuatPartial();
    });
</script>

