@{
    ViewData["Title"] = "Nhập mã xác nhận";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section>
    <div class="container-fluid" style="margin-bottom: 2%">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4" style="background-color:white; margin-top:2%; height:200px; width:430px">
                <div class="login-form">
                    <p style="font-size:14px; line-height:1.7; margin-top:2%">Vui lòng nhập mã xác nhận mà chúng tôi vừa gửi đến email của bạn ở khung bên dưới để tiến hành đặt lại mật khẩu</p>
                    <form action="#">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="inputEmail">
                        </div>
                        <a href="/Home/DatLaiMatKhau" type="submit" class="btn btn-default col-sm-offset-5" style="height:35px; font-size:14px; background-color:#fe980f; color:white; margin-top:3%">Xác nhận</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

