@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model PTStore.Models.DonHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#337ab7">Chỉnh sửa đơn hàng</h2>

<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonHangId" />
            <div class="form-group">
                <label class="control-label">Mã đơn</label>
                <input readonly asp-for="MaDonHang" class="form-control" />
                <span asp-validation-for="MaDonHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên người nhận</label>
                <input readonly asp-for="TenNguoiNhan" class="form-control" />
                <span asp-validation-for="TenNguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input readonly asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input readonly asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <input readonly asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng thái đơn hàng</label>
                <select asp-for="TrangTrai" class="form-control">
                    <option value="DatHangThanhCong">Đặt hàng thành công</option>
                    <option value="GiaoThanhCong">Giao thành công</option>
                    <option value="BiHuy">Bị huỷ</option>
                </select>
                <span asp-validation-for="TrangTrai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="color:white; background-color:#337ab7" type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại trang chủ</a>
</div>

