
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<section id="cart_items" style="margin-top:3%">
    <div class="container" style="background-color:white">
        <h3 style="margin-top:2%; color:#8C8C88">Giỏ Hàng Của Bạn</h3>
        <div class="table-responsive cart_info" style="margin-top:2%">
            <table class="table table-condensed">
                <thead style="text-align:center">
                    <tr class="cart_menu">
                        <td class="image col-sm-2">Sản Phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="https://cdn.tgdd.vn/Products/Images/42/228453/vivo-v20-600-xanh-hong-2-600x600.jpg" class="imageincart" alt=""></a>
                        </td>
                        <td class="cart_description" style="color:#8C8C88">
                            <h4>Điện thoại Vivo V20</h4>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button col-sm-offset-3">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="do_action">
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="col-sm-offset-6 ">
                <div class="total_area" style="margin-right:2%">
                    <ul>
                        <li>Tạm tính <span>2000000</span></li>
                        <li>Thành tiền <span>2000000</span></li>

                    </ul>
                    <a class="btn btn-default update" href="#" style="height:30px">Cập nhật giỏ hàng</a>
                    <a class="btn btn-default check_out pull-right" href="/Customer/Home/Checkout" style="height:30px">Tiến hành đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .imageincart {
        width: 70%;
        height: 70%;
    }
</style>

