
@{
    ViewData["Title"] = "Manageorder";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color:white; margin-top:3%">
    <div class="row">
        <div class="col-sm-3 " style="background-color:white; text-align:center">
            <ul class="list-group bs-brand-item">
                <li class="list-group-item" style="height:80px">
                    <div>
                        <div class="col-sm-4 pull-left">
                            <img src="https://salt.tikicdn.com/desktop/img/avatar.png">
                        </div>
                        <div class="col-sm-8">
                            <h5>Tài khoản của</h5>
                            <strong style="">Phan Tiên</strong>
                        </div>
                    </div>
                </li>
                <li><a class="list-group-item" href="/Customer/Home/Account">Thông tin tài khoản</a></li>
                <li><a class="list-group-item" href="/Customer/Home/Manageorder">Quản lý đơn hàng</a></li>
                <li><a class="list-group-item" href="/Customer/Home/Feedback">Góp ý</a></li>
            </ul>
        </div>
        <div class="col-sm-9" style="background-color:white">
            <div>
                <div>
                    <a style="font-size:30px; color:#fe980f">Thông tin đơn hàng</a>
                </div>
                <table class="table table-condensed" style="margin-top:2%">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày mua</th>
                            <th>Điện thoại</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái đơn hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">D1U3150520</th>
                            <td>15/05/2020</td>
                            <td>Điện thoại Xiaomi Mi 10T Pro 5G</td>
                            <td>12990000</td>
                            <td>Đã giao hàng</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

