@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model PTStore.Models.ThuongHieu

@{
    ViewData["Title"] = "Thêm thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#337ab7">Thêm thương hiệu</h2>
<hr />
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên thương hiệu</label>
                <input required asp-for="TenThuongHieu" class="form-control" />
                <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Link hình ảnh</label>
                <input required asp-for="HinhAnhThuongHieu" class="form-control" />
                <span asp-validation-for="HinhAnhThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-default" style="background-color:#337ab7; color:white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về trang chủ</a>
</div>

