@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model PTStore.Models.DienThoai

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#337ab7; text-align:center">Thêm Điện Thoại</h2>

<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên điện thoại</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang" class="control-label">Tình trạng điện thoại</label>
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label">Giá kinh doanh</label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaGoc" class="control-label">Giá gốc</label>
                <input asp-for="GiaGoc" class="form-control" />
                <span asp-validation-for="GiaGoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label">Số lượng còn</label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuongHieuId" class="control-label">Thương Hiệu</label>
                <select asp-for="ThuongHieuId" class="form-control" asp-items="ViewBag.ThuongHieuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ThongSoKyThuatId" class="control-label">Thông số kỹ thuật</label>
                <select asp-for="ThongSoKyThuatId" class="form-control" asp-items="ViewBag.ThongSoKyThuatId"></select>
            </div>
            <div class="form-group col-md-offset-4">
                <input  style="background-color:#337ab7; color:white; width:150px; font-size:14px" type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="text-align:center" asp-action="Index">Quay về trang chủ</a>
</div>



